<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Js Intro</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="wrapper">

<div class="container">
    <!--    <input class="myButton" type="button" value="Function & Closure" onclick="startDemo()">-->
    <!--    <input class="myButton" type="button" value="Encapsulation" onclick="encapsulationDemo()">-->
    <!--    <input class="myButton" type="button" value="Prototypes" onclick="protoDemo()">-->
    <!--    <input class="myButton" type="button" value="Inheritance" onclick="inheritanceDemo()">-->

    <div id="form-main">
        <div id="form-div">
            <h4>Below are the available routes in this REST API</h4>

            <p><span class="reqMethod">GET</span> /cyt</p>
            <p><span class="reqMethod">GET</span> /api/employees</p>
            <p><span class="reqMethod">POST</span> /api/employees</p>
            <p><span class="reqMethod">GET</span> /api/employees/{employee_id}</p>
            <p><span class="reqMethod">PUT</span> /api/employees/{employee_id}</p>
            <p><span class="reqMethod">DELETE</span> /api/employees/{employee_id}</p>
    </div>
    <script src="../app.js"></script>
</body>
</html>